@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

/* Pour les écrans 1080p */
@media screen and (max-width: 1920px) {
  html {
    font-size: 70%;
  }
}
/* Pour les écrans 1440p */
@media screen and (min-width: 1921px) {
  html {
    font-size: 100%;
  }
}
